<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Martin Hövre">
    <meta name="description" content="A sandbox page for testing.">
    <meta name="keywords" content="sandbox">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="robots" content="noindex, nofollow">
    <title>Sandbox</title>
</head>
<body>
<a href="http://whv-amusic.com/kano/core_sys/images/main/main_bg/main_bg03.jpg" download="">download</a>
<script src="/jscripts/WaterLily.js"></script>
<script src="/jscripts/index.js"></script>
</body>
</html>