<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Martin Hövre">
    <meta name="description" content="A sandbox page for testing.">
    <meta name="keywords" content="sandbox">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="robots" content="noindex, nofollow">
    <title>Sandbox</title>
</head>
<body>
<script src="/jscripts/WaterLily.js"></script>
<script>
    var body = WaterLily('body');
    WaterStream.resolve(WaterLily('<test class="hi">', { id: 'dat-boi' }, 'testing...', 'oh a node')).then(function (element) {
        console.log(body);
        body.appendChild(element);
        console.log(element);
        return element;
    });
</script>
</body>
</html>