* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  font: 12px/14px 'Comfortaa', Meiryo, sans-serif;
  color: #522b16;
  background: url("http://whv-amusic.com/kano/core_sys/images/main/main_bg/main_bg03.jpg") no-repeat center;
  background-size: cover;
}
#top {
  display: inline-flex;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.6);
  color: #522b16;
  text-decoration: none;
}
#top:link {
  text-decoration: none;
}
#top > p {
  margin: 0;
  padding: 8px;
}
#top > .artist_name {
  background: rgba(255,255,255,0.6);
}
#artist-logo {
  display: block;
  margin: 50px 0 60px 40px;
}
nav > ul.links {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav > ul.links > li {
  margin: 2px 0;
}
nav > ul.links > li > a {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  padding: 4px 10px 3px 30px;
  background: rgba(136,151,88,0.4);
  text-decoration: none;
  -webkit-transition: padding-left 0.5s ease;
  -moz-transition: padding-left 0.5s ease;
  -ms-transition: padding-left 0.5s ease;
  -o-transition: padding-left 0.5s ease;
  transition: padding-left 0.5s ease;
}
nav > ul.links > li > a.active {
  background: rgba(66,32,0,0.8);
}
nav > ul.links > li > a:hover {
  padding-left: 50px;
}
#news-info,
#live-event {
  margin: 0;
  padding-left: 30px;
}
